<app-places-container title="Available Places">
  <!-- utilizzo l'@if per valutare il valore di isFetching() e se non ci sono errori-->
  @if (isFetching() && !error()) {
  <p class="fallback-text">Fetching available places...</p>
  }

  <!-- in caso di errore voglio mostrare qualcosa -->
  @if (error()) {
  <p class="fallback-text">{{ error() }}</p>
  }
  <!--  -->
  @if (places()?.length !== 0) {
  <app-places [places]="places()!" />
  } @else if (places()?.length === 0) {
  <p class="fallback-text">Unfortunately, no places could be found.</p>
  }
</app-places-container>
